.Help-Those {
    display: flex;
    justify-content: center;
    background-image: url(f2.jpg);
    background-size: cover;
    height: 100vh;
    align-items: center;


}

#need {
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.help {
    font-size: 30px;
    color: white;
    text-align: center;
    width: 50%;


}

.dolor {
    width: 50%;
    text-align: center;

}

.nam {
    display: flex;
    justify-content: center;
}

.Donate {

    text-decoration: none;
    padding: 10px 5px;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 230, 0), tomato);
}

.Donate-t {
    margin-top: 120px;
    text-align: center;
}

.help-a {
    text-align: center;
    font: 400;
}

.tk {

    text-align: center;
}

.koto {
    font-size: 30px;
    font-weight: 700;
    display: inline-flex;
    margin: 10px 22px 22px 10px;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
}

#border {
    border: 1px solid rgb(192, 185, 176);
    width: 50%;
    margin-left: 80px;
}

#bor {
    width: 100%;
    display: flex;
    justify-content: center;
}

#am {
    color: rgb(192, 185, 176);
}

.other {
    text-align: center;
    margin-left: 50px;
}

.our {
    margin-top: 80px;
}

.head {
    display: flex;
    padding: 12px 13px;
    margin-left: 60px;
    margin-right: 60pcx;
    gap: 30px;


}

.food {
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 15px 14px gray;
    border-radius: 10px;

}

.family {
    padding: 10px;
    text-align: center;
    box-shadow: 10px 15px 14px gray;
    border-radius: 10px;
    background-color: beige;


}

.child {
    padding: 10px;
    text-align: center;
    box-shadow: 10px 15px 14px gray;
    border-radius: 10px;
    background-color: burlywood;
}

.im {
    height: 100px;
    width: 100px;
}

.ims {
    height: 100px;
    width: 100px;
}

#uu {
    height: 100px;
    width: 100px;
}

.taka {
    border: 2px solid rgb(223, 92, 92);
    background-color: rgb(207, 193, 174);

}

.get {
    text-align: center;
}



#fd {
    background-color: black;
}

.email {
    padding: 20px;
    background-color: rgb(240, 189, 189);
    text-align: center;
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50PX;
    height: 100PX;
    border-radius: 10px;
}

.ni {
    text-align: center;
    margin: 40px;

}

.ni input {
    font-size: 20px;
    border: none;
    padding-left: 5px;
}



.Sub {
    padding: 10px 10px;
    color: gray;
    border-radius: 6px;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 230, 0), tomato);
    border: none;


}

footer {
    text-align: center;
    background-color: darkcyan;
    margin: 0%;
    margin-top: 40px;
    margin-bottom: -100px;
}

#al {
    text-align: justify;
}

#how {
    text-decoration: none;
    background-image: linear-gradient(rgb(218, 216, 121), rgb(143, 175, 143));
    padding: 5px 5px;
    border-radius: 7px;
}

h1 {
    font-size: 30px;
}

.the {
    text-align: center;
    width: 50%;
    padding: 5%;
}

#live {
    display: flex;
}

#pic {
    margin-right: 20PX;
    border-radius: 10PX;
}

.hum {}

span {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}